.components_home .trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
}

.components_home .trigger:hover {
    color: #1890ff;
}

.site-layout .site-layout-background {
    background: #fff;
}

#common_logo {

    display: flex;
    justify-content: center;
    white-space: nowrap;
    text-decoration: none;

    height: 64px;
    line-height: 64px;

    overflow: hidden;

    color: #FFFFFF;
    font-size: 18px;
}
.logo_img{
    padding-left:40px;

    background:url('../../img/course_admin_logo.jpg') no-repeat left center;
    background-size: 32px;
}
